<div class="column is-two-quarter">
    <nav class="panel">
        <p class="panel-heading">Past Events</p>
        <p class="panel-block">
            <% @user.attended_events.past.each do |event| %>
                <%= link_to event.theme, event_path(event) %>
            <% end %>
        </p>
    </nav>
</div>