<div class="column is-two-quarter">
    <nav class="panel">
        <p class="panel-heading">Upcoming Events</p>
        <% @user.attended_events.upcoming.each do |event| %>
            <p class="panel-block"><%= link_to event.theme, event_path(event) %></p>
        <% end %>
    </nav>
</div>