
<div class="column is-5 ">
<h1 class="title is-4"><%= (@user.name + "'s" + " Events").upcase %></h1>
    <article class="media">
        <ol class="media-content">
            <% @user.own_events.each do |event| %>
                <li class="content"><%= link_to event.theme, event_path(event) %></li>
            <% end %>

            <%# link_to "Back", root_path %>
        </ol>
    </article>
</div>