<section class="section">
    <div class="container">
        <div class="columns">
            <%= render 'past_events' %>
            <%= render 'user_profile' %>
            <%= render 'attended_events' %>
            <%= render 'upcoming_events' %>
        </div>
   </div>
</section>